.customLink {
  display: block;
  width: 100%;
  text-decoration: none;
}

.linkContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 20px;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.linkContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.linkImage {
  width: 160px;
  height: 120px;
  margin-right: 20px;
  object-fit: cover;
  image-rendering: auto;
}

.linkText {
  text-align: left;
}

.siteName {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: #777;
  margin: 0;
  text-transform: lowercase;
}

/* モバイル表示用のスタイル */
@media (max-width: 768px) {
  .linkImage {
    width: 30vw;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
  }

  .siteName {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }

  .linkContainer {
    margin: 0;
  }
}
