body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa;
}

h1,
h3 {
  margin: 0;
}

h1.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  width: 100%; /* 横幅を全体に広げる */
  padding: 20px; /* コンテンツ内の余白を確保 */
}

p {
  font-size: 17px;
  line-height: 2; /* 行間を文字サイズの2倍に設定 */
}

details {
  /*background-color: #f8f9fa;*/
  border-radius: 3px; /*角を丸く*/
  border: 1px solid #00000080; /* 黒いふちをつける */
}

footer {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.card:hover {
  transform: translateY(-5px); /* ホバー時に少し上に動く */
  cursor: pointer; /* カーソルをポインタに */
}

header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

header h1 a {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素の色を引き継ぐ */
  cursor: pointer; /* カーソルがリンクに変更される */
}

/* オプション: ヘッダーテキストを太字やサイズ変更にする */
header h1,
header h2,
header h3 {
  font-weight: bold;
  font-size: 1.5em; /* 必要に応じてサイズを調整 */
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: nowrap; /* サイドバーとメインコンテンツを横並びにする */
  width: 100%; /* 横幅を全体に広げる */
  margin: 0; /* コンテンツを画面いっぱいに広げる */
}

.main-content {
  flex: 1; /* メインコンテンツが残りのスペースを全て使う */
  padding: 20px;
}

.sidebar {
  padding: 15px;
  margin-left: auto; /* サイドバーを右端に寄せる */
  margin-right: 20px; /* 右端との間に余白を追加 */
  box-sizing: border-box;
}

/* サイト内検索のスタイル */
.sidebar .search-container {
  background-color: #f1f1f1; /* 背景色をサイト内検索部分だけに適用 */
  padding: 20px;
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 少し影を追加 */
  width: 100%; /* 全体の幅を確保 */
  box-sizing: border-box;
}

.sidebar .search-container form {
  display: flex; /* 横並びに配置 */
  align-items: center; /* 垂直方向の中央揃え */
}

.sidebar .search-container input {
  flex: 1; /* 入力欄が残りのスペースを使う */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px 0 0 4px; /* 左側のみ丸める */
}

.sidebar .search-container button {
  width: auto; /* ボタンの幅を自動調整 */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 15px; /* ボタン内の余白を調整 */
  border-radius: 0 4px 4px 0; /* ボタンの右側のみ角を丸める */
  cursor: pointer;
  white-space: nowrap; /* ボタン内のテキストが折り返されないようにする */
}

.sidebar .search-container button:hover {
  background-color: #0056b3;
}

/* すでにあるグローバルスタイル */
@media (max-width: 1050px) {
  .container {
    flex-direction: column; /* コンテンツとサイドバーを縦に並べる */
  }
  .sidebar {
    margin: 0 20px;
  }
}

p.command {
  background-color: #00ff00;
}

.thumb {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
}
